$blue: #4b4edf;
$purple: #743dad;
$gradient: linear-gradient(to right, $blue, $purple);

.name-styles {
  background: $gradient;
  background-clip: text;
  -webkit-text-stroke: 6px transparent;
  color: black;
}

.email-button {
  background: $gradient;
}

.text-gradient {
  /*background-clip: text !important;
  background: $gradient;
  -webkit-text-fill-color: transparent;
  */
}
