html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #000;
  border-radius: 25px;
}

html::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 25px;
}
