.center-x {
  margin-left: auto;
  margin-right: auto;
}

.max-w {
  max-width: 40rem;
}

.max-w-large {
  max-width: 55rem;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.title-box {
  padding-bottom: 2rem;
}

.small-top-padding {
  padding-top: 1rem;
}

.bold {
  font-weight: bold;
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-small {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.padding {
  padding: 2rem;
}

.space-x {
  margin-right: 1rem;
}

.space-y {
  margin-top: 0.75rem;
}

.flex {
  display: flex;
}

.yellow {
  color: #ffff66;
}

.padding-light {
  padding: 1rem;
}

.hover-underline:hover {
  text-decoration: underline;
}

.flex-col {
  flex-direction: column;
}
