---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <div class="mt-20 px-6 flex flex-col">
    <Header /><div
      class="text-2xl mt-20 w-[70vw] mx-auto flex flex-col font-medium"
    >
      <img src="/mac.png" alt="" class="h-24 w-fit" />
      <p class="mb-4">Hello! I'm Osa.</p>
      <p class="text-8xl font-black">
        <span class="text-[#c0c0c0]">Engineering</span> seamless interfaces where
        function meets elegance.
      </p>
      <p class="my-4 leading-10">
        Hey there! 👋 I'm Osa, a developer and designer passionate about
        building thoughtful, visually striking digital experiences. Whether it's
        crafting sleek interfaces or engineering robust backends, I bring
        creativity and precision to everything I make.
      </p>
      <div class="h-[50vh] mt-40">
        <p class="text-4xl font-bold underline">About Me</p>
      </div>
    </div>
  </div>
</Layout>
