---
const tabs = ["Home", "About", "Projects", "Contact"];
---

<div class="mt-10 absolute">
  <div class="fixed h-10 z-10 inset-0 backdrop-blur-md w-screen"></div>
  <div class="fixed -translate-y-5 blur w-screen h-15 backdrop-blur-md z-20">
  </div>
  <div
    class="bg-black p-2 flex z-30 text-white w-full md:w-[50vw] rounded-full left-1/2 -translate-x-1/2 space-x-4 my-box fixed"
  >
    <div class="h-5 w-5 rounded-full border-3 border-white my-auto"></div>
    <div class="flex space-x-6 m-auto pr-6 font-bold">
      {
        tabs.map((tab) => (
          <a
            class="transition-all hover:-translate-y-0.5 cursor-pointer duration-500"
            href={`#${tab.toLowerCase()}`}
          >
            {tab}
          </a>
        ))
      }
    </div>
  </div>
</div>

<style>
  .my-box {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
  }
</style>
