---
const { width = "75px", height = "75px" } = Astro.props;
---

<div>
  <img 
    src="/MirrowLogo.svg" 
    alt="Mirrow Logo" 
    width={width} 
    height={height}
    class="dark:invert object-contain"
  />
</div>