---
const { title, description, href } = Astro.props;
---

<div class="px-6 md:px-0">
  <a
    class="bg-black flex flex-col md:w-[44vw] rounded-2xl cursor-pointer transition-all duration-300 hover:-translate-y-2 p-6 text-white"
    href={href}
    target="_blank"
  >
    <div class="flex space-x-4">
      <div class="md:block hidden">
        <slot />
      </div>
      <div class="my-auto lg:text-6xl md:text-5xl text-2xl font-bold">
        {title}
      </div>
    </div>
    <div class="w-full h-0.5 bg-white rounded-full my-3"></div>
    <div class="font-medium">{description}</div>
  </a>
</div>
